<div class="campaign">
  <div class="campaign-image">
  <% if campaign.engagement_player.try(:decorate).try(:youtube_video_id) %>
    <img class="img-responsive" src="//img.youtube.com/vi/<%= campaign.engagement_player.try(:decorate).try(:youtube_video_id) %>/maxresdefault.jpg">
  <% else %>
    <div class="empty-space">
    <%= fa_icon campaign.icon %>
    </div>
  <% end %>
  </div>
  <div class="campaign-buttons">
    <%= link_to fa_icon("trash-o"), campaign, confirm: 'Are you sure you want to delete this campaign?', method: :delete, class: 'pull-right btn btn-danger' %>
    <% if params[:action] == 'index' %>
    <a href="<%= campaign_path(campaign) %>" class="btn btn-primary">
      <%= fa_icon "search" %>
    </a>
    <% elsif params[:action] == 'show' %>
    <a href="<%= campaigns_path %>" class="btn btn-default">
      <%= fa_icon "chevron-left" %>
    </a>
    <% end %>
    <div class="btn-group">
      <a href="<%= campaign_build_path(id: t('wicked.basic'), campaign_id: campaign.id) %>"  class="btn btn-primary">
      <%= fa_icon "pencil" %>
      </a>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="<%= campaign_build_path(id: t('wicked.basic'), campaign_id: campaign.id) %>"><%= t('campaigns.build.progress.basic.title') %></a></li>
        <li><a href="<%= campaign_build_path(id: t('wicked.engagement_player'), campaign_id: campaign.id) %>"><%= t('campaigns.build.progress.engagement_player.title') %></a></li>
        <li><a href="<%= campaign_build_path(id: t('wicked.growthspace'), campaign_id: campaign.id) %>"><%= t('campaigns.build.progress.growthspace.title') %></a></li>
        <li><a href="<%= campaign_build_path(id: t('wicked.survey'), campaign_id: campaign.id) %>"><%= t('campaigns.build.progress.survey.title') %></a></li>
        <li><a href="<%= campaign_build_path(id: t('wicked.share'), campaign_id: campaign.id) %>"><%= t('campaigns.build.progress.share.title') %></a></li>
        <li><a href="<%= campaign_build_path(id: t('wicked.community'), campaign_id: campaign.id) %>"><%= t('campaigns.build.progress.community.title') %></a></li>
        <li class="divider"></li>
        <li><a href="<%= campaign_build_path(id: t('wicked.opened'), campaign_id: campaign.id) %>"><%= t('campaigns.build.progress.opened.title') %></a></li>
      </ul>
    </div>
  </div>
  <div class="campaign-info">
    <h3><%= campaign.name %></h3>
    <p><%= campaign.description %></p>
    <% if campaign.permalink %>
      <h5><%= link_to campaign.permalink, campaign.permalink, target: '_blank' %></h5>
    <% else %>
      <h5>No URL Configured</h5>
    <% end %>
    <small>
      <%= t 'campaigns.created_on', date: campaign.created_at.strftime("%m/%d/%Y") %>
      <br>
      <%= t 'campaigns.updated_on', time: time_ago_in_words(campaign.updated_at) %>
    </small>
  </div>
  <div class="campaign-footer">
    <%- unless campaign.engagement_player.blank? %>
      <span class="label label-primary"><%= t('wicked.engagement_player').humanize %></span>
    <% end -%>
    <%- unless campaign.share.blank? || !campaign.share.enabled? %>
      <span class="label label-primary"><%= t 'wicked.share' %></span>
    <% end -%>
    <%- unless campaign.community.blank? || !campaign.community.enabled? %>
      <span class="label label-primary"><%= t 'wicked.community' %></span>
    <% end -%>
    <%- unless campaign.alternate_locales.empty? %>
      <span class="label label-primary"><%= t 'routes.translations' %></span>
    <% end -%>
  </div>
</div>