<% Globalize.with_locale(@campaign.locale.try(:code) || I18n.locale) do %>
<% content_for(:title) { @campaign.name } %>
<% content_for(:subtitle) { t('routes.campaigns').titleize } %>
<div class="campaigns">
  <div class="col-md-4">
    <%= render partial: 'campaign', locals: { campaign: @campaign } %>
  </div>
  <div class="col-md-8">
    <div class="campaign-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#<%= t('wicked.statistics') %>" role="tab" data-toggle="tab"><%= t('wicked.statistics').titleize %></a>
        </li>
        <%- unless @campaign.engagement_player.blank? %>
          <li>
            <a href="#<%= t('wicked.engagement_player') %>" role="tab" data-toggle="tab"><%= t('wicked.engagement_player').titleize %></a>
          </li>
        <% end -%>
        <%- unless @campaign.share.blank? || !@campaign.share.enabled? %>
          <li>
            <a href="#<%= t('wicked.share') %>" role="tab" data-toggle="tab"><%= t('wicked.share').titleize %></a>
          </li>
        <% end -%>
        <%- unless @campaign.community.blank? || !@campaign.community.enabled? %>
          <li>
            <a href="#<%= t('wicked.community') %>" role="tab" data-toggle="tab"><%= t('wicked.community').titleize %></a>
          </li>
        <% end -%>
        <%- unless @campaign.alternate_locales.empty? %>
        <li>
          <a href="#<%= t('routes.translations') %>" role="tab" data-toggle="tab"><%= t('routes.translations').titleize %></a>
        </li>
        <% end -%>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <%= render partial: 'dashboard/campaigns/tabs/statistics' %>
        <%- unless @campaign.engagement_player.blank? %>
          <%= render partial: 'dashboard/campaigns/tabs/engagement_player' %>
        <% end -%>
        <%- unless @campaign.share.blank? || !@campaign.share.enabled? %>
          <%= render partial: 'dashboard/campaigns/tabs/share' %>
        <% end -%>
        <%- unless @campaign.community.blank? || !@campaign.community.enabled? %>
          <%= render partial: 'dashboard/campaigns/tabs/community' %>
        <% end -%>
        <%- unless @campaign.alternate_locales.empty? %>
          <%= render partial: 'dashboard/campaigns/tabs/translation' %>
        <% end -%>
      </div>
    </div>
    <%= render 'actions' %>
  </div>
</div>
<% end %>