<aside>
  <div id="sidebar" class="nav-collapse">
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <li>
          <a href="<%= root_path %>" class="<%= 'active' if current_page?(root_path) %>">
            <%= fa_icon 'dashboard' %>
            <span><%=t('routes.dashboard').titleize %></span>
          </a>
        </li>
        <% if current_user.has_role? :manager %>
        <li>
          <a href="<%= campaigns_path %>" class="<%= 'active' if request.path.match(campaigns_path) %>">
            <%= fa_icon 'laptop' %>
            <span><%=t('routes.campaigns').titleize %></span>
          </a>
        </li>
        <% end %>
        <% if current_user.has_role? :translator %>
        <li>
          <a href="<%= translations_path %>" class="<%= 'active' if request.path.match(translations_path) %>">
            <%= fa_icon 'comment' %>
            <span><%=t('routes.translations').titleize %></span>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</aside>