<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  <title>WatchThinkChat <%= t('routes.dashboard').titleize %></title>
  <%= stylesheet_link_tag "dashboard/application", media: "all" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="build">
  <div class="page-title">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2><%= content_for :title %></h2>
            <h5><%= content_for :subtitle %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container content">
  <%= yield %>
  </div>
  <%= javascript_include_tag "dashboard/application" %>
  <%= yield :javascript %>
</body>
</html>
