<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-signin', method: :post}) do |f| %>
  <h2 class="form-signin-heading"><%= image_tag 'wtclogo.png' %></h2>

  <div class="login-wrap">
    <div class="user-login-info">
      <%= devise_error_messages! %>
      <h5><%= t('user.forgot_your_password.title') %></h5>
      <p><%= t('user.forgot_your_password.description') %></p>
      <%= f.text_field :email, placeholder: t('user.email'), class: 'form-control' %>
    </div>
    <%= f.submit t('user.forgot_your_password.button'), class:"btn btn-lg btn-login btn-block" %><br>
    <div class="registration">
      <div class="pull-right"><%= link_to t('user.sign_in'), new_user_session_path %></div>
      <a href="http://www.watchthinkchat.com/" title="Are you lost?">← <%= t('user.back') %></a>
    </div>
  </div>
<% end -%>