<%= semantic_form_for [@invite.campaign, @invite], html: {class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%=  f.label :first_name, t('user.first_name'), class: 'col-lg-2 control-label' %>
    <div class="col-lg-8">
      <%=  f.input :first_name, input_html: {class: 'form-control', placeholder: t('user.first_name')}, label: false %>
    </div>
  </div>
  <div class="form-group">
    <%=  f.label :last_name, t('user.last_name'), class: 'col-lg-2 control-label' %>
    <div class="col-lg-8">
      <%=  f.input :last_name, input_html: {class: 'form-control', placeholder: t('user.last_name')}, label: false %>
    </div>
  </div>
  <div class="form-group">
    <%=  f.label :email, t('user.email'), class: 'col-lg-2 control-label' %>
    <div class="col-lg-8">
      <%=  f.input :email, input_html: {class: 'form-control', placeholder: t('user.email')}, label: false %>
    </div>
  </div>
  <div class="form-group">
    <%=  f.label :locale, t('user.locale'), class: 'col-lg-2 control-label' %>
    <div class="col-lg-6">
      <%=  f.input :locale, input_html: { class: 'form-control select2'}, collection: @invite.campaign.locales.decorate, label: false %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-6">
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit t('user.invite'), class: 'btn btn-primary' %>
  </div>
<% end %>

