<div class="col-md-12">
  <section class="panel">
    <header class="panel-heading">
      Translation
    </header>
    <div class="panel-body panel-index-body">
      <table class="table table-striped index-table">
        <tbody>
          <tr>
            <td style="background-image: url(//img.youtube.com/vi/<%= @translation.campaign.engagement_player.try(:decorate).try(:youtube_video_id) %>/maxresdefault.jpg)">
              <div class="button-row">
                <a href="<%= translations_path %>" class="btn btn-default">
                  <%= fa_icon "chevron-left" %>
                </a>
              </div>
              <div class="pull-left cover">
                <h3><%= @translation.campaign.name %></h3>
                <div><span class="label label-primary"><%= @translation.locale.name %></span></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <% Globalize.with_locale(@translation.locale.code.to_sym) do %>
        <%= semantic_form_for @translation.campaign, url: translation_path(@translation) do |f| %>
          <div class="panel-content">
            <%= f.input :name %>
          </div>
          <div class="panel-footer text-right">
            <%= f.submit "Save Translations", class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
  </section>
</div>