<div class="col-md-12">
  <section class="panel">
    <header class="panel-heading">
      <%= t 'routes.translations' %>
    </header>
    <div class="panel-body panel-index-body">
      <table class="table table-striped index-table">
        <tbody>
          <tr>
            <td style="background-image: url(//img.youtube.com/vi/<%= @translation.campaign.engagement_player.try(:decorate).try(:youtube_video_id) %>/maxresdefault.jpg)">
              <div class="button-row">
                <a href="<%= translations_path %>" class="btn btn-default">
                  <%= fa_icon "chevron-left" %>
                </a>
              </div>
              <div class="pull-left cover">
                <% Globalize.with_locale(@translation.campaign.locale.code) do %>
                  <h3><%= @translation.campaign.name %></h3>
                  <div><span class="label label-primary"><%= @translation.locale.decorate.name %></span></div>
                <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <% Globalize.with_locale(@translation.locale.code) do %>
        <%= semantic_form_for @translation.campaign, url: translation_path(@translation) do |f| %>
          <div class="panel-content">
            <%= f.input :name %>
            <%= f.input :intro %>
            <%= f.input :description %>
            <% if @translation.campaign.engagement_player.try(:enabled) %>
              <%= f.semantic_fields_for :engagement_player, @translation.campaign.engagement_player do |c| %>
                <%= c.input :media_link %>
              <% end %>
            <% end %>
            <% if @translation.campaign.share.try(:enabled) %>
              <%= f.semantic_fields_for :share, @translation.campaign.share do |c| %>
                <%= c.input :title %>
                <%= c.input :description %>
                <%= c.input :subject %>
                <%= c.input :message %>
              <% end %>
            <% end %>
          </div>
          <div class="panel-footer text-right">
            <%= f.submit t('translations.edit.save'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
  </section>
</div>