<div class="col-md-12">
  <%- if @translations.empty? %>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 empty-state text-center">
      <h2><%= t 'translations.empty.title' %></h2>
      <p><%= t 'translations.empty.description' %></p>
    </div>
  </div>
  <% else %>
  <section class="panel">
    <header class="panel-heading">
      <%= t 'translations.index.title' %>
    </header>
    <div class="panel-body panel-index-body">
      <table class="table table-striped index-table">
        <tbody>
          <% @translations.each do |translation| %>
            <tr>
              <% Globalize.with_locale(translation.campaign.locale.try(:code) || I18n.locale) do %>
              <td style="background-image: url(//img.youtube.com/vi/<%= translation.campaign.engagement_player.try(:decorate).try(:youtube_video_id) %>/maxresdefault.jpg)">
                <div class="button-row">
                  <a href="<%= edit_translation_path(translation) %>" class="btn btn-primary">
                    <%= fa_icon "chevron-right" %>
                  </a>
                </div>
                <div class="pull-left cover">
                  <h3><%= translation.campaign.name %></h3>
                  <div><span class="label label-primary"><%= translation.locale.decorate.name %></span></div>
                </div>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
  <% end -%>
</div>