<div id="app" ng-app="chatApp" ng-cloak>
  <div id="wrapper">
    <header>
      <div id="header">
        <div class="container">
          <a href="" ng-click="back()" class="back">Back</a>
          <% unless @campaign.locales.blank? %>

            <div class="btn-group pull-right" dropdown>
              <a href="" class="language" dropdown-toggle><%= language(language_code).titleize %></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/<%= @campaign.locale.try(:code) %>"><%= language(language_code @campaign.locale.try(:code)).titleize %></a></li>
                <% @campaign.locales.each do |locale| %>
                  <li><a href="/<%= locale.try(:code) %>"><%= language(language_code locale.try(:code)).titleize %></a></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="logo">{{campaign.name}}</div>
        </div>
      </div>
    </header>
    <div ng-view>
    </div>
  </div>
  <footer>
    <div id="footer">
      <div class="container">
        <!--<a href="" ng-click="infoModal()" class="info">Info</a>-->
        <a href="" ng-click="privacyModal()" class="privacy">Privacy</a>
      </div>
    </div>
  </footer>
</div>
<% content_for :title do %>
  <%= @campaign.name %>
<% end %>
<% content_for :javascript do %>
  <script src="//api.<%= "#{ENV['base_url']}#{':' + request.port.to_s unless Rails.env.production? }" %>/token.js" type="text/javascript"></script>
  <script type="text/javascript">
    // <![CDATA[
      var campaign = <%= Rabl::Renderer.json(@campaign.decorate, 'site/campaign', view_path: 'app/views').html_safe %>;
      var apiUrl = "//api.<%= "#{ENV['base_url']}#{':' + request.port.to_s unless Rails.env.production? }" %>"
      var translations = <%= @translations.to_json.html_safe %>;
    // ]]>
  </script>
<% end %>